
body {
	background: rgb(245, 245, 245);
	color: rgba(0, 0, 0, 0.8);
	font-family: Verdana;
	margin: 0;
}

*::selection {
 	background: rgb(200, 230, 250);
}

*::-moz-selection {
 	background: rgb(200, 230, 250);
}

header {
	position: fixed;
	width: 100%;
	background: rgb(245, 245, 245);
	z-index: 1;
}

#topLine {
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 4;
}

.line {
	height: 2px;
	width: 25%;
}

#topLinePart1 {
	background: rgba(100, 220, 130, 0.5);
}

#topLinePart2 {
	background: rgba(100, 150, 220, 0.7);
}

#topLinePart3 {
	background: rgba(220, 70, 70, 0.9);
}

#topLinePart4 {
	background: rgba(230, 200, 80, 1);
}

nav {
	border-bottom: solid;
	border-color: rgba(220, 220, 220, 0.5);
	border-width: thin;
	display: flex;
	height: 48px;
	justify-content: flex-start;
	padding-top: 2px;
}

nav ul, nav li {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

#hamburgerIcon {
	box-sizing: border-box;
	display: none;
	align-items: center;
	cursor: pointer;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	margin-left: 6px;
	padding: 15px 0;
	width: 50px;
}

#hamburgerIcon div {
	background: black;
	height: 3px;
	width: 40%;
}

#heading {
	display: none;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-align: center;
	top: 35%;
}

#logo {
	height: 20.5px;
	padding: 12px 40px;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
}

nav li a {
	color: rgba(0, 0, 0, 0.8);
	display: block;
	padding: 15px 0 14px 0;
	text-decoration: none;
}

#navLinks li a {
	margin: 0 29px;	
}

a:hover {
	color: rgba(70, 155, 170, 0.8);
}

.active {
	border-bottom: solid;
	border-width: 2.5px;
	color: rgba(70, 185, 170, 0.8);
}

#exploreTip {
	background: white;
	border-radius: 1px;
	box-shadow: 0 0 6px 0.5px rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 13px;
	line-height: 22px;
	padding: 25px 12px;
	position: absolute;
	text-align: center;
	-webkit-transform: translate(-28%, -2%);
	-moz-transform: translate(-28%, -2%);
	transform: translate(-28%, -2%);
	width: 250px;
}

#exploreTip::after {
	content: "";
	background: white;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent transparent;
	border-style: solid;
	border-width: thin;
	height: 9px;
	left: 50%;
	margin-left: -6px;
	position: absolute;
	top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 9px;
}

#explore:hover #exploreTip {
	display: block;
	cursor: pointer;
}

#explore:hover a {
	color: rgba(70, 155, 170, 0.8);
}

#navRight {
	margin-left: auto;
}

#navRight li a, .verticalLine {
	margin: 0 23px 0 0;	
}

.toolTip {
	display: none;
}

#navRight a:hover:not(:focus) + div.toolTip {
	align-self: center;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 4px;
	color: rgba(250, 250, 250, 0.9);
	display: block;
	font-size: 11px;
	padding: 7.5px 10px;
	position: relative;
	text-align: center;
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	transform: translateX(-10px);
	z-index: 2;
}

.toolTip::after {
    border-color: transparent transparent black transparent;
    border-style: solid;
    border-width: 5px;
    bottom: 100%;
    content: "";
    left: 50%;
    margin-left: -5px;
    position: absolute;
}

#userProfile > div {
	align-items: center;
	display: flex;
	margin: 0 24px 0 0px;
	-webkit-transform: translateY(-25%);
	-moz-transform: translateY(-25%);
	transform: translateY(-25%);
}

.verticalLine {
	border-right: solid;
	border-color: rgba(220, 220, 220, 0.5);
	border-width: 2px;
	display: inline-block;
	height: 44%;
	position: relative;
	top: 28%;
}

.glyphicon-chevron-down {
	font-size: 10px;
}

.profilePic {
	background-image: url("../images/profilePic.jpg");
	background-size: cover;
	border-radius: 12.5px;
	height: 25px;
	margin: 3px 9px 0 -5px;
	width: 25px;
}

#user {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}

#userOptionList {
	background: white;
	border-radius: 1px;
	box-shadow: 0 0 6px 0.5px rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 13px;
	height: auto;
	padding: 8px 0;
	position: absolute;
	right:44px;
	text-align: center;
	top: 45px;
	width: auto;
}

#userOptionList::after {
	content: "";
	background: white;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent transparent;
	border-style: solid;
	border-width: thin;
	height: 9px;
	margin-left: -6px;
	position: absolute;
	right: 20px;
	top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 9px;
}

#userProfile:focus + #userOptionList {
	display: block;
}

#userOptionList ul, #userOptionList li, #userOptionList a {
	margin: 0;
	padding: 0;
	text-align: left;
}

#userOptionList a {
	width: 100%;
}

#userOptionList ul {
	display: flex;
	flex-direction: column;
}

#viewProfile {
	display: flex;
	height: 63px;
}

#viewProfilePic {
	border-radius: 20px;
	display: inline-block;
	height: 40px;
	margin: 0;
	position: relative;
	top: 50%;
	-webkit-transform: translate(50%, -55%);
	-moz-transform: translate(50%, -55%);
	transform: translate(50%, -55%);
	vertical-align: center;
	width: 40px;
}

#name {
	display: inline-block;
	float: right;
	font-family: sans-serif;
	font-weight: bolder;
	letter-spacing: 0.5px;
	padding: 13px 3px 13px 37px;
	z-index: 1;
}

.verticalSpacing {
	height: 5px;
}

.userOptions {
	display: block;
}

#userOptionList a:not(#viewProfile) {
	height: 38px;
}

#userOptionList a:not(#viewProfile) div {
	position: relative;
	top: 50%;
	left: 10%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.small {
	color: rgba(0, 0, 0, 0.4);
	font-size: 11px;
	font-weight: lighter;
	line-height: 26px;
}

.optionListText {
	display: inline-block;
}

#userOptionList a:hover .optionListText, #userOptionList a:hover .small {
	color: white;
}

#userOptionList a:hover {
	background: rgba(70, 185, 170, 0.8);
}

.glyphicon-log-out {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

i.material-icons {
	font-size:16px;
	vertical-align: bottom;
}

.glyphicon-flash {
	background: black;
	border-radius: 10px 10px 20px 20px;
	color: white;
	font-size: 10px;
	padding: 2px;
}

section {
	box-sizing: border-box;
	height: 100vh;
	padding: 51px 30px 0 182px;
	width: 100%;
}

.title {
	font-size: 32px;
	margin: 18px 0 0 0;
	padding: 9px 6px;
}

#bottomLeftLinks {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-size: 11px;
	height: 80px;
	justify-content: flex-end;
	line-height: 20px;
	padding-bottom: 20px;
	padding-left: 35px; 
	position: fixed;
	bottom: 0%;
	width: 140px;
	z-index: 4;
}

#bottomLeftLinks a {
	color: rgba(100, 100, 100, 0.5);
	text-decoration: none;
	z-index: 4;
}

#bottomLeftLinks a:hover {
	color: rgba(70, 155, 170, 0.8);
}

#cover {
	background: rgba(20, 20, 20, 0.3);
	display: none;
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 2;
}

#leftPanel {
	background: white;
	display: none;
	height: 100vh;
	position: fixed;
	width: 258px;
	z-index: 3;
}

#leftPanelOptions {
	overflow-y: auto;
	width: 258px;
	height: calc(100% - 50px); /*The real website has a bug here...logout option doesn't show on smaller screens.*/
}

.panelIcon {
	background: black;
	border-radius: 0px 0px 20px 20px;
	color: white;
	font-size: 10px;
	font-weight: lighter;
	padding: 1px 2px 2px 3px;
}

.panelLinks {
	border-bottom: solid;
	border-color: rgba(220, 220, 220, 0.7);
	border-width: thin;
	color: black;
	float: right;
	padding: 13px 19px;
	width: 85%;
}

.panelSubLinks {
	border-bottom: solid;
	border-color: rgba(220, 220, 220, 0.7);
	border-width: thin;
	color: black;
	float: right;
	padding: 13.5px 0px;
	width: 80%;
}

.panelLinks:hover, .panelSubLinks:hover, .panelLinks:hover .fa-angle-right { 
	color: rgba(70, 155, 170, 0.8);
} 

.panelLinks:hover span, .panelLinks:hover i:not(.profileIcon) {
	color: black;
}


.panelLinks:hover .panelIcon {
	color: white;
}

#panelLogoTab {
	border-bottom: solid;
	border-color: rgba(220, 220, 220, 0.7);
	border-width: thin;
	color: black;
	float: right;
	padding: 13.5px 19px;
	width: 85%;
}

#panelCloseButton {
	display: inline-block;
	cursor: pointer;
	float: right;
	color: rgba(150, 150, 150, 1);
	font-size: 18px;
	margin-right: -5px;
}

a div i.profileIcon {
	background: black;
	color: white;
	font-size: 25px;
	margin: -3px;
	outline: solid;
	outline-color: white;
	outline-offset: -4px;
	outline-width: 4px;
}

.smallWindow {
	display: none;
}

#homeSection {
	display: none;
}

#recommendedSection {
	display: none;
}

#recommendedSection.activeSection {
	display: block;
}

#homeSection.activeSection {
	display: block;
}

#inbox {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
}

.dropContent {
	background: white;
	border-radius: 1px;
	box-shadow: 0 0 6px 0.5px rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 13px;
	height: auto;
	padding: 20px;
	position: relative;
	text-align: center;
	-webkit-transform: translateX(-5px);
	-moz-transform: translateX(-5px);
	transform: translateX(-5px);
	width: 300px;
}

.dropContent::after {
	content: "";
	background: white;
	border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent transparent;
	border-style: solid;
	border-width: thin;
	height: 9px;
	margin-left: -6px;
	position: absolute;
	right: 20px;
	top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 9px;
}

.dropContentLink:focus ~ .dropContent {
	cursor: pointer;
	display: block;
}

.dropContent:focus {
	display: block;
}

.hasDropContent {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	width: 40px;
}

.dropContent strong {
	font-size: 15px;
}

#plus ~ div.dropContent {
	width: 325px;
}

#plus ~ div.dropContent strong {
	font-size: 13px
}

#navRight input[type=text], #searchPanel input[type=text] {
	border: solid;
	border-color: rgba(150, 150, 150, 0.5);
	border-radius: 5px;
	border-width: thin;
	height: 25px;
	margin-right: 10px;
	outline: none;
	padding-left: 8px; 
	width: 245px;
}

#navRight input[type=submit] {
	background: rgba(200, 70, 70, 1);
	border: solid;
	border-color: rgba(180, 180, 180, 0.7);
	border-radius: 5px;
	border-width: thin;
	color: rgba(200, 200, 200, 1);
	font-size: 14px;
	height: 30px;
	outline: none;
	width: 60px;
}

#navRight input[type=submit]:hover {
	cursor: pointer;
}

li div.dropContent:hover {
	display: block;
}

#searchCover {
	background: rgba(240, 240, 240, 0.8);
	display: none;
	height: 100vh;
	position: fixed;
	width: 100%;
}

#searchPanel {
	align-items: center;
	display: none;
	margin-left: auto;
	height: 51px;
	justify-content: flex-end;
}
#searchPanel input[type=text] {
	height: 20px;
	margin-top: -5px; 
}

#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 15vh;
}

.card {
	background: white;
	height: 362px;
	margin: 13px;
	width: calc((100% - 8 * 13px) / 4);
}

.cardIcon {
	background: rgba(150, 150, 150, 1);
	border-radius: 5px 5px 20px 20px;
	padding-left: 1px;
	box-sizing: border-box;
	color: white;
	font-size: 11px;
	height: 16px;
	padding-top: 2px; 
	text-align: center;
	width: 18px;
}

.cardOptions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.cardOptions:not(.cardIcon) {
	color: rgba(150, 150, 150, 1);
}

.cardDots:hover {
	color: rgb(90, 90, 90);
	cursor: pointer;
}

.cardSave:hover .cardIcon {
	background: rgb(90, 90, 90);
}

.cardSave:hover {
	color: rgb(90, 90, 90);
}

.cardSave {
	cursor: pointer;
}

.cardDots {
	font-size: 20px;
	padding-right: 10px;
}

#leftPanelLogo {
	height: 18px;
	padding: 3px 0px 0px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cardHeader {
	flex-grow: 1;
	padding: 2px 10px;
}

.cardImage {
	background-size: cover;
	background-position: center;
	flex-grow: 60;
}

.cardContent {
	padding: 0 6%;
	flex-grow: 4;
	font-size: 19px;
	overflow: hidden;
	max-height: 130px;
	padding: 10px 16px 5px;
}
.cardContent:hover {
	color: rgba(40, 125, 140, 0.8);
}

.cardAuthor {
	height: auto;
	padding: 5px 6% 0;
	flex-grow: 2;
}

.horizontalLine {
	background: rgba(215, 215 ,215, 0.4);
	height: 1px;
	width: 88%;
	margin: 0 6%;
}

.cardOptions {
	padding: 0 6%;
	flex-grow: 2;
}

.cardLink {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 24;
}

.subCard {
	box-sizing: border-box;
	width: 100%;
}

.card a {
	text-decoration: none;
	color: black;
}

#closeSearchButton {
	border: solid;
	border-width: thin;
	border-color: rgba(200, 200, 200, 0.6);
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	float: right;
	color: #333;
	font-size: 15px;
	margin: 0 40px 5px 0px;
	background: white;
	width: 20px;
	height: 20px;
	padding: 1px;
	text-align: center;
}

#closeSearchButton:hover {
	background: rgba(220, 220, 220, 0.3);
}

.hidden {
	display: none;
}

.cardDots li, .cardDots ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.cardDots:not(.dotsOpen) ul li:not(:first-child) div {
	display: none;
	position: relative;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}

.dotsOpen li:first-child {
	margin-bottom: -78px;
	margin-left: 120px;
}

.cardDots ul li:second-child div  {
	margin-top: -90px;
}

.hideCard, .copyLink {
	padding: 0px 0px;
	background: white;
	-webkit-transform: translate(11%, 200%);
	transform: translate(11%, 200%);
	padding: 10px 20px;
	font-size: 15px;
	color: black;
}

.hideCard:hover, .copyLink:hover {
	background: rgb(70, 185, 170);
	color: white;
}

.hideCard::after {
	content: "";
	background: white;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent transparent;
	border-style: solid;
	border-width: thin;
	height: 9px;
	margin-left: -6px;
	position: absolute;
	right: 20px;
	top: -6px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 9px;
}
.hideCard:hover::after {
	background: rgb(70, 185, 170);
}

.hideCard {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: thin;
}

.copyLink {
	border-color: transparent rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: thin;
}

/***********************************************************************/

@media screen and (max-width: 1295px) {

	.card {
		width: calc((100% - 6 * 13px) / 3);
	}

}


@media screen and (max-width: 1040px) {
	section {
		padding-left: 13px;
		padding-right: 13px;
	}

	#bottomLeftLinks {
		padding-left: 18px;
	}

	#bottomLeftLinks a:not(.inPanel), #logo {
		display: none;
	}

	#hamburgerIcon {
		display: flex;
	}

}

@media screen and (max-width: 800px) {

	#userProfile .firstName, .nameDrop {
		display: none;
	}

	.verticalLine {
		display: none;	
	}

	#userProfile > div {
		margin-right: 0;
	}

	#navRight li #userProfile {
		margin-right: 3px;
	}

	#userOptionList {
		right: 12px;
		top: 50px;
	}

	#userOptionList:after {
		right: 12px;
	}

	.card {
		width: calc((100% - 4 * 13px) / 2);
	}

}

@media screen and (max-width: 620px) {

	#navRight #search {
		margin-right: -55px;
	}

	#navRight #search:hover + div, #navRight #plus:hover + div{
		display: none;
	}

	#navRight #plus ~ div.dropContent {
		position: fixed;
		top: 51px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}

	#navRight #plus ~ div.dropContent:after {
		display: none;
	}

	.title, #navLinks, #envelope, #userProfile {
		display: none;
	}

	#heading {
		display: flex;
	}

	.smallWindow {
		display: block;
	}

	#bottomLeftLinks a {
		display: none;
	}
}

@media screen and (max-width: 500px) {

	section {
		padding-left: 0px;
		padding-right: 0px;
	}

	.card {
		width: calc((100% - 2 * 13px) / 1);
	}

	#cards {
		margin-bottom: 0;
	}

	#searchPanel {
		position: fixed;
		transform: translateY(97%);
		background: white;
		width: 100%;
	}

}

@media screen and (max-height: 511px) {

	#bottomLeftLinks a {
		display: none;
	}

}