* {
	margin: 0;
	padding: 0;
	height: 100%
	width: 100%;
	box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
	width: 100%;
	height: 100px;
	margin: auto;
	text-align: center;
	color: #FFF;
	position: fixed;
	top: 0;
	background-color: dodgerblue;
	opacity: 0.9;
}

.header h1 {
	font-size: 3em;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	background-color: limegreen;
	width: 25%;
	height: 30px;
	margin: 0px 20px;
	font-size: 1.2em;
	letter-spacing: 0.5em;
}

.button:hover{
	background-color: seagreen;
}

.section{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 50px 0px;
}

h2 {
	font-size: 5em;
	margin-top: 120px;
}

.image {
	width: 800px;
	height: 420px;
	margin: 10px auto;
}

img {
	width: 800px;
	height: 400px;
}

.caption {
	font-size: 1em;
	color: slategrey;
	text-align: left;
	font-style: italic;
	font-weight: bold;
}

.btn {
	width: 25%;
	margin: 10px 20px;
	background-color: dodgerblue;
}

a {
	color: inherit;
	text-decoration:none;
}


