nav
{
	position: fixed;
	width: 100%;
	background: black;
  opacity: 0.4;
  display: flex;
	font-variant: small-caps;
  color: white;
	margin-left: -8px;

}

a
{
	color: white;
}

nav a
{
	display: block;
	text-align: center;
	width: calc(100% / 3);
	padding: 1%;
	color: white;
	font-size: 4vh;
	margin-left: -8px;
}

nav a:hover
{
	background: #555;
}

h1
{
  background-color: navy;
  font-size: 40px;
  text-align: center;
	height: 10vh;
  width : calc(100vw/3);
	margin-top: -8px;
  font-family: monospace;
}

div
{
  height : 100vh;
  width :  100vw;
  font-size: 40px;
  font-family: monospace;
	margin-left: -8px;
	color: white;
}

#Hsection1
{
	opacity: 0;
}

#Hsection2
{
	opacity: 0;
}

#Hsection3
{
	opacity: 0;
}

#section1
{
	text-align: center;
	
	color: white;
	-webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  animation-name: change;
  animation-duration: 10s;
	animation-play-state: running;
	animation-iteration-count: infinite;
}

#section2
{
  text-align: center;
	
	color: white;
	-webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  animation-name: change;
  animation-duration: 10s;
	animation-play-state: running;
	animation-iteration-count: infinite;
}

#section3
{
  text-align: center;
	color: white;
	-webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  animation-name: change;
  animation-duration: 10s;
	animation-play-state: running;
	animation-iteration-count: infinite;
}

@-webkit-keyframes change
{
    from {background-color: #77b0ea;}
    to {background-color:#c077ea;}
}
@keyframes change
{
    from {background-color: #478fcc;}
    to {background-color: #ff5858;}
}

.button
{
    background-color: #46392f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
		padding: 1%;
		color:black;
}
.button1
{
    background-color: #82c7ee;
    color: white;
    border: 2px solid #478fcc;
}

.button1:hover
{
    background-color: #cc7f47;
    color: white;
}