body,html {
	
	margin: 0;
	padding: 0;
	font-family: inherit;

}
#one {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image:url(P1.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        color: white;
}
#f {
	position: absolute;
	top: 150px;
	right: 470px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
}
#f:hover{
	height: 400px;
	width: 400px;
    position: absolute;
    right: 430px;
    z-index: 1;
}
#text1{
	position: absolute;
	right: 600px;
	bottom: 150px;
	text-align: center;
}
#text2{
	position: absolute;
	right: 600px;
	bottom: 100px;
	text-align: center;
}
#text3{
	position: absolute;
	right: 610px;
	bottom: 50px;
	text-align: center;
}
a{
	color: white;
}
a:hover{
	font-size: 20px;
	color: #F06292;
}
a:visited{
	color: #90CAF9;

}
a:active{
	background-color: pink;
}
#t { position: fixed;
	top: 0;
    background: rgba(255,255,255,0.3);
  	padding: 0;
  	list-style-type: none;
  	width: 100%;
  	height: 80px;
    line-height: 80px;
  	margin: 0;
  	border: 1px black;
  	z-index: 1;
}
#p{ 
	color: rgb(50,50,50);
	margin: 0;
    float: left;
    width: calc(100%/3);
    text-align: center;
    height: 80px;
    font-size: 30px;
}
li:hover {
	color: black;
	background-color: #FFFFFF;
	}

#two{position: relative;
	height: 100%;
	width: 100%;
	background-color: lightblue;
	background-image:url(P2.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        color: white;
}
#s{
	position: absolute;
	top: 150px;
	right: 475px;
	height: 300px;
	width: 300px;
	border-radius: 50%;

}
#s:hover{
	height: 450px;
	width: 450px;
	 position: absolute;
    right: 430px;
    z-index: 1;
}

#three{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: lightgreen;
        background-image:url(P3.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        color: white;
}
#tt{
	position: absolute;
	top: 150px;
	right: 475px;
	height: 300px;
	width: 300px;
	border-radius: 60%;
}
#tt:hover{
	height: 450px;
	width: 450px;
	 position: absolute;
    right: 430px;
    z-index: 1;
}
figcaption {
	position: absolute;
	top: 100px;
	right: 550px;
	color: white;
	font-size: 40px;

}