body{
	background-color:white;
	margin:0;
	padding:0;
}

.Header{
	
	text-align:center;
	background-color:blue;
	height:30px;
	top:0;
	
}

.Header a{
	color:white;
	text-decoration:none;
	font-size:30px;
}




.Sections{
	text-align:center;
}

.Sections a{
	text-decoration:none;
}

