#Section1 img{

	width:60%;
	height:80%;
}


#Section2 img{

	width:60%;
	height:80%;
}

#Section3 img{

	width:70%;
	height:80%;
}


#Section1 {
	
	text-align: center;
}

#Section2 {
	text-align: center;
}

#Section3 {
	text-align: center;
}

