body {margin:0;
font-size: 50px;
background-color: lightblue}
#one, #two {float:left;
            padding-right: 20vw}
#first {height:100vh;
        width:100vw;
        background-image: url("second.jpg");
        background-repeat: no-repeat;
        background-size: 100% 90%}
#second {height:100vh;
         width: 100vw;
         background-image:url("fourth.jpg");
         background-repeat:none;}
#third {height:100vh;
        width:100vw;
        background-image: url("first.jpg");
        background-size: 100%}
a:link, a:visited {
	    color:hotpink;
        }
