.items span {
	float : left;
	width:150px;
}

body{
	text-align: center;
	font-size: 20px;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	background-color: #EEEEEE;
}

.nav{
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	background-color: #3F51B5;
	height: 100px;
	position: static;
	color:#FFFFFF;
	box-shadow: 3px 3px 6px grey;
}

textarea {
	border-radius: 5px;
	height: 25px;
	background-color: #EEEEEE;
}

h1{
	padding-top:20px;
}

input {
	width:50px;
	box-shadow: 1px 1px 2px grey;
	border-radius: 5px;
	border-width: 0.5px solid grey;
	background-color: #EEEEEE;
}

.field {
	margin-left:200px;
}

th td {
	padding-right:100px;
	padding-left: 10px;
}

table{
	width:50%;
	text-align: left;
	font-size: 20px;
}

div{
	margin-left: 35%;
}

.table {
	margin-top: 40px;
}

.table button {
	outline: none;
	border-radius: 50%;
	color: #000000;
	background-color: #FF80AB;
	border: solid transparent;
	box-shadow: 1.5px 1.5px 3px grey;
}

.table button:hover {
	box-shadow: 3px 3px 6px grey;
}

.final{
	outline:none;
	border-radius: 5px;
	color : #000000;
	background-color: #FF80AB;
	border: solid transparent;
	box-shadow: 1.5px 1.5px 3px grey;
	font-size: 30px;
}

.final:hover{
	box-shadow: 3px 3px 6px grey;
}