body {
	margin: 0;
	padding: 0;
	background-color: #f4f4f6;
	font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #313131;
}

.rainbow_toolbar {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 8001;
}

.rainbow_detail {
	float: left;
	height: 2px;
	width: 25%;
}

.part1 {
	background-color: #afecc3;
}

.part2 {
	background-color: #84c3c0;
}

.part3 {
	background-color: #d45a68;
}

.part4{
	background-color: #ecbf63;
}

.pkt-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #f4f4f6;
	overflow: visible;
	z-index: 1000;
}


.sidebar {
	
	height: 100%;
	background-color: #f4f4f6;
	position: fixed;
	width: 200px;
}


#sidetext {
	position: fixed;
	bottom: 20px;
	left: 30px;	
	color: #a6a6a6;
	

}

p { 
	font-family: inherit;
	font-weight: 400;
	line-height: 1.5;
	display: block;
}



.divider {
border-bottom: 1px solid #e6e6e8;
height: 1px;
top: 49px;
width: auto;
position: relative;

}

#ih{
	display: inline-block;
	width: 80px;
	height: 3vh;
	padding: 10px 0px 0px 35px;
	background-color: #f4f4f6;
	float: left;
	

}

h2 {
	font-size: 1.15385em;
	font-weight: 600;
	margin: 1.3em 1.7em 0;
	
}


#h1,#h2,#h3 {
	display: inline-block;
	float: left;
}

#h1 {
	margin: 1em 0 0 80;
}

#h2,#h3 {
	margin: 1em 0 0 60;
}

#main {
	float:right;
	height:200vh;
	width:85vw;
}


#h {
	
	font-size: 2.78em;
	font-weight: 300;
	line-height: 1.4;
	padding-top: 40px;
	margin-left: 10px;

}


.card {
	
	width: 260px;
	height: 350px;
	display: inline-block;
	background-color: white;	
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;

	
}

#card_image {
	width: 260px;
	height: 200px;
	background-image: url(pic1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.card_title {
	font-family: sans-serif;
	font-size: 10px;
	font-weight: normal;
	padding-left: 15px;
	padding-right: 30px;
	top: -10px;
	color: #313131;

} 


.link{
	font-size: 1em;
	color: #999;
	bottom:   ;
	padding-left:  ;
	margin-left: 20px;
}

#card_toolbar {
	background-color: #fff;
	float: left;
	font-size: 1em;
	color: #313131;
	left: 0;
	margin: 0;
	position: absolute;
	
	z-index: 10;
}


#card_image2 {
	width: 260px;
	height: 200px;
	background-image: url(barca.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}
	
#card_image3 {
	width: 260px;
	height: 200px;
	background-image: url(pic3.jpg);
	background-size: cover;
	background-repeat: no-repeat;



}

#card_image4 {
	width: 260px;
	height: 200px;
	background-image: url(pic4.jpeg);
	background-size: cover;
	background-repeat: no-repeat;

}

#card_image5 {
	width: 260px;
	height: 200px;
	background-image: url(pic5.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

#card_image6 {
	width: 260px;
	height: 200px;
	background-image: url(pic6.jpeg);
	background-size: cover;
	background-repeat: no-repeat;

}

#card_image7 {
	width: 260px;
	height: 200px;
	background-image: url(pic7.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

#card_image8 {
	width: 260px;
	height: 200px;
	background-image: url(pic8.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}




