.button {
	padding: 15px 20px;
	margin: 10px;
	background: #555;
	border: none;
	border-radius: 5px;
	color: #ddd;
	font-weight: bold;
	font-size: 16px;
	outline: none;
	cursor: pointer;
	vertical-align: middle;
	max-width: 90%;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.button:hover {
	background: #444;
}

.button:active {
	background: #222;
}